<div>
  <div class="nerration-header narration-div">
    <span class="narration-heading">Narrtion</span>
    <div class="empty-div"></div>
    <div>
      <div class="narration-tabs">
        <span class="narration-text">All Narration</span>
        <span class="narration-text narration-text-active"
          >Day Wise Narration</span
        >
      </div>
    </div>
  </div>
  <div class="narration-container">
    <div class="narration-user-section">
      <div class="narration-user-div">
        <div class="narration-user-dropdown">
          <app-select-user></app-select-user>
        </div>
        <div class="narration-user-empty-box">
          <div class="narration-sum-breakup-section">
            <div class="narration-total-sum-block">
              <span class="sum-text">Sum Of Narration Time = </span>
              <span class="sum-value">{{ totalTime | timeFormat }}</span>
            </div>
            <div class="narration-total-task-sum">
              <span class="sum-text">Sum Of Task Time = </span>
              <span class="sum-value">{{ totalTime | timeFormat }}</span>
            </div>
          </div>
        </div>
        <div class="narration-usr-calendar">
          <div class="form-group narration-date-grp">
            <input
              type="date"
              id="nativeDatePicker"
              [(ngModel)]="selectedDate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="narration-task-container overflow-hidden">
    <div class="narration-task-items">
      <div class="narration-task-info-section">
        <div class="narration-task-info-block">
          <div class="narration-task-head-block">
            <div class="narration-task-info-content">
              <div class="narration-collapse-arrow arrow-expand">
                <span
                  class="arrow-expand-deactive display-flex"
                  (click)="toggleTable()"
                  [ngClass]="{ 'arrow-expand-active': isTableExpanded }"
                >
                  <svg
                    width="8"
                    height="5"
                    viewBox="0 0 8 5"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.710051 3.29022L3.30005 0.700215C3.69005 0.310215 4.32005 0.310215 4.71005 0.700215L7.30005 3.29022C7.93005 3.92022 7.48005 5.00022 6.59005 5.00022H1.41005C0.520051 5.00022 0.0800515 3.92022 0.710051 3.29022Z"
                      fill="#1F1F1F"
                    />
                  </svg>
                </span>
              </div>
              <div class="narration-task-items">
                <div class="narration-task-name-block">
                  <span class="narration-task-name">Task1</span>
                  <!--- <span class="narration-task-verified">
                    <span class="time-logo">I</span>
                    <span class="time-text">Time Verified</span>
                  </span> --->
                </div>
                <div class="narration-client-block">
                  <span>ABCD Category</span>
                  <span>></span>
                  <span>Task 1</span>
                </div>
              </div>
            </div>
          </div>
          <div class="narration-task-time-block">
            <div class="narration-title-time-block">
              <div class="narration-time-grp">
                <span class="narration-time-info-icon">I</span>
                <span class="display-flex">
                  <span>Title Time = {{ totalTime | timeFormat }}</span>
                </span>
              </div>
              <div class="narration-available-time-block">
                <span class="narration-available-dur-time"
                  >Available Time = {{ availableTime | timeFormat }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="narration-breakup-section"
      [ngClass]="{ 'narration-breakup-section-open': isTableExpanded }"
    >
      <div class="narration-break-block-container">
        <div class="narration-break-table-section">
          <table class="narration-break-table">
            <thead>
              <tr class="narration-table-thead w-100">
                <th
                  class="narration-table-thead-th"
                  style="
                    padding-left: 0px;
                    width: 30px;
                    background: white;
                    border-right: 0;
                  "
                ></th>
                <th class="narration-table-thead-th">Title</th>
                <th class="narration-table-thead-th w-35">Description</th>
                <th class="narration-table-thead-th w-35">
                  <div class="narration-duration-time-th">
                    <div>Time</div>
                    <div class="narration-duration-sum">
                      <span class="narration-break-sum-text">Sum</span>
                      <span class="narration-break-sum-value">{{
                        totalTime | timeFormat
                      }}</span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="narration-table-tbody-tr w-100 cursor-pointer"
                *ngFor="let row of rows; let i = index"
                (mouseenter)="row.isHovered = true"
                (mouseleave)="row.isHovered = false"
                [ngClass]="{ 'narration-active-row': selectedRows.includes(i) }"
              >
                <td class="narration-checkbox-block">
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="checkbox{{ i }}"
                      (change)="onCheckboxChange($event, i)"
                      [checked]="selectedRows.includes(i)"
                    />
                    <label
                      for="checkbox{{ i }}"
                      class="custom-checkbox-label"
                    ></label>
                  </div>
                </td>
                <td (dblclick)="editField('title', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #titleInput
                        *ngIf="
                          editingField === 'title' && currentEditRow === row
                        "
                        [(ngModel)]="row.title"
                        (blur)="saveEdit()"
                        placeholder="Enter title"
                      />
                    </div>
                    <div
                      *ngIf="editingField !== 'title' || currentEditRow !== row"
                      class="title"
                    >
                      {{ row.title || "Double Click To Type Here" }}
                    </div>
                  </div>
                </td>
                <td class="w-35" (dblclick)="editField('description', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #descriptionInput
                        *ngIf="
                          editingField === 'description' &&
                          currentEditRow === row
                        "
                        [(ngModel)]="row.description"
                        (blur)="saveEdit()"
                        class="narration-input-title.description"
                        placeholder="Enter description"
                      />
                    </div>
                    <div
                      *ngIf="
                        editingField !== 'description' || currentEditRow !== row
                      "
                      class="description"
                    >
                      {{ row.description || "Double Click To Type Here" }}
                    </div>
                  </div>
                </td>
                <td class="w-35" (dblclick)="editField('time', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #timeInput
                        *ngIf="
                          editingField === 'time' && currentEditRow === row
                        "
                        [(ngModel)]="row.time"
                        (blur)="validateTime(row)"
                        placeholder="HH:MM:SS"
                      />
                    </div>
                    <div class="narration-time-df">
                      <div
                        *ngIf="
                          editingField !== 'time' || currentEditRow !== row
                        "
                        class="duration"
                      >
                        {{ row.time || "hh:mm:ss" }}
                      </div>

                      <div
                        *ngIf="row.timeError"
                        class="error-message"
                        style="color: red; margin-right: 15px"
                      >
                        {{ row.timeError }}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="narration-table-tbody-tr w-100">
                <td class="narration-checkbox-block"></td>
                <td class="cursor-pointer" (click)="addNewRow()">
                  <div class="content">
                    <span class="display-flex">
                      <span class="display-flex">+</span>
                      <span>New</span>
                    </span>
                  </div>
                </td>
                <td class="w-35"></td>
                <td class="w-35"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="narration-activities-container">
          <table class="narration-break-table w-100">
            <thead>
              <tr class="narration-activity-header w-100">
                <th class="narration-activity-table-header-th w-30">
                  Top 10 Activities
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="activity-row w-100">
                <th class="narration-top-ten-activity w-30">
                  <div class="narration-veiw-button">
                    <button
                      *ngIf="!isShowingActivity"
                      class="narration-btn"
                      (click)="viewActivities()"
                    >
                      <span class="narration-btn-text">View Activities</span>
                    </button>
                  </div>
                </th>
              </tr>
              <tr *ngIf="isShowingActivity">
                <td>
                  <div
                    class="narration-activity-list"
                    style="margin-left: 10px"
                  >
                    <div class="narration-activity-item">
                      <div class="narration-activity-title">
                        Set Up Notification System
                      </div>
                      <div class="narration-activity-description">
                        Develop a notification system alerts
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="floating-button" *ngIf="selectedRows.length > 0">
    <button (click)="openModal()" class="narration-delete-button">
      Delete
    </button>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-headings">
        Are you sure that you want to delete the selected Narration ?
      </div>
      <div class="modal-undone-heading">This cannot be undone !</div>
      <div class="modal-delete-icon">
        <div class="delete-icon-block">
          <svg
            width="100px"
            height="100px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="#d90429"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0" />

            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            />

            <g id="SVGRepo_iconCarrier">
              <path
                d="M13.995 1.827a1.745 1.745 0 0 0-2.969 0l-9.8 17.742a1.603 1.603 0 0 0 0 1.656 1.678 1.678 0 0 0 1.48.775H22.28a1.68 1.68 0 0 0 1.484-.775 1.608 1.608 0 0 0 .003-1.656zM12 8h1v7h-1zm.5 10.5a1 1 0 1 1 1-1 1.002 1.002 0 0 1-1 1z"
              />

              <path fill="none" d="M0 0h24v24H0z" />
            </g>
          </svg>
        </div>
      </div>
      <div class="modal-actions">
        <div class="modal-action-section">
          <div class="modal-actions-block">
            <button class="no-button" (click)="closeModal()">Cancel</button>
            <button class="yes-button" (click)="confirmDelete()">
              Yes, Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
