<div>
  <div class="nerration-header narration-div">
    <span class="narration-heading">Narration</span>
    <span style="margin-left: 5px">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        fill="#a3b18a"
        class="bi bi-exclamation-square"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
          ></path>
          <path
            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
          ></path>
        </g>
      </svg>
    </span>
    <div class="empty-div"></div>
    <div style="margin-right: 24px">
      <div class="narration-tabs">
        <span class="narration-text">All Narration</span>
        <span class="narration-text narration-text-active"
          >Day Wise Narration</span
        >
      </div>
    </div>
  </div>
  <div class="narration-container">
    <div class="narration-user-section">
      <div class="narration-user-div">
        <div class="narration-user-dropdown">
          <app-select-user></app-select-user>
        </div>
        <div class="narration-user-empty-box">
          <div class="narration-sum-breakup-section">
            <div class="narration-total-sum-block">
              <span class="sum-text">Sum Of Narration Time = </span>
              <span class="sum-value">{{ totalTime | timeFormat }}</span>
            </div>
            <div class="narration-total-task-sum">
              <span class="sum-text">Sum Of Task Time = </span>
              <span class="sum-value">{{ totalTime | timeFormat }}</span>
            </div>
          </div>
        </div>
        <div class="narration-usr-calendar">
          <div class="form-group narration-date-grp">
            <input
              type="date"
              id="nativeDatePicker"
              [(ngModel)]="selectedDate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="narration-task-container overflow-hidden">
    <div class="narration-task-items">
      <div class="narration-task-info-section">
        <div class="narration-task-info-block">
          <div class="narration-task-head-block">
            <div class="narration-task-info-content">
              <div class="narration-collapse-arrow arrow-expand">
                <span
                  class="arrow-expand-deactive display-flex"
                  (click)="toggleTable()"
                  [ngClass]="{ 'arrow-expand-active': isTableExpanded }"
                >
                  <svg
                    width="8"
                    height="5"
                    viewBox="0 0 8 5"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.710051 3.29022L3.30005 0.700215C3.69005 0.310215 4.32005 0.310215 4.71005 0.700215L7.30005 3.29022C7.93005 3.92022 7.48005 5.00022 6.59005 5.00022H1.41005C0.520051 5.00022 0.0800515 3.92022 0.710051 3.29022Z"
                      fill="#1F1F1F"
                    />
                  </svg>
                </span>
              </div>
              <div class="narration-task-items">
                <div class="narration-task-name-block">
                  <span class="narration-task-name">Task1</span>
                  <span
                    class="narration-task-verified"
                    *ngIf="rows.length > 0 && hasTimeEntered"
                  >
                    <span
                      class="time-logo"
                      *ngIf="rows.length > 0 && isTimeVerified === 0"
                    >
                      <svg
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                          id="SVGRepo_tracerCarrier"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M21.007 8.27C22.194 9.125 23 10.45 23 12c0 1.55-.806 2.876-1.993 3.73.24 1.442-.134 2.958-1.227 4.05-1.095 1.095-2.61 1.459-4.046 1.225C14.883 22.196 13.546 23 12 23c-1.55 0-2.878-.807-3.731-1.996-1.438.235-2.954-.128-4.05-1.224-1.095-1.095-1.459-2.611-1.217-4.05C1.816 14.877 1 13.551 1 12s.816-2.878 2.002-3.73c-.242-1.439.122-2.955 1.218-4.05 1.093-1.094 2.61-1.467 4.057-1.227C9.125 1.804 10.453 1 12 1c1.545 0 2.88.803 3.732 1.993 1.442-.24 2.956.135 4.048 1.227 1.093 1.092 1.468 2.608 1.227 4.05Zm-4.426-.084a1 1 0 0 1 .233 1.395l-5 7a1 1 0 0 1-1.521.126l-3-3a1 1 0 0 1 1.414-1.414l2.165 2.165 4.314-6.04a1 1 0 0 1 1.395-.232Z"
                            fill="#55a630"
                          ></path>
                        </g>
                      </svg>
                    </span>
                    <span
                      class="time-logo"
                      *ngIf="rows.length > 0 && isTimeVerified !== 0"
                    >
                      <svg
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        stroke="#1a759f"
                      >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                          id="SVGRepo_tracerCarrier"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M21.007 8.27C22.194 9.125 23 10.45 23 12c0 1.55-.806 2.876-1.993 3.73.24 1.442-.134 2.958-1.227 4.05-1.095 1.095-2.61 1.459-4.046 1.225C14.883 22.196 13.546 23 12 23c-1.55 0-2.878-.807-3.731-1.996-1.438.235-2.954-.128-4.05-1.224-1.095-1.095-1.459-2.611-1.217-4.05C1.816 14.877 1 13.551 1 12s.816-2.878 2.002-3.73c-.242-1.439.122-2.955 1.218-4.05 1.093-1.094 2.61-1.467 4.057-1.227C9.125 1.804 10.453 1 12 1c1.545 0 2.88.803 3.732 1.993 1.442-.24 2.956.135 4.048 1.227 1.093 1.092 1.468 2.608 1.227 4.05Zm-4.426-.084a1 1 0 0 1 .233 1.395l-5 7a1 1 0 0 1-1.521.126l-3-3a1 1 0 0 1 1.414-1.414l2.165 2.165 4.314-6.04a1 1 0 0 1 1.395-.232Z"
                            fill="#1a759f"
                          ></path>
                        </g>
                      </svg>
                    </span>
                    <span
                      class="time-text"
                      *ngIf="rows.length > 0 && isTimeVerified === 0"
                      >Time Verified</span
                    >
                    <span
                      class="time-text"
                      *ngIf="rows.length > 0 && isTimeVerified !== 0"
                      >Time Changed</span
                    >
                  </span>
                </div>
                <div class="narration-client-block">
                  <span>ABCD Category</span>
                  <span>></span>
                  <span>Task 1</span>
                </div>
              </div>
            </div>
          </div>
          <div class="narration-task-time-block">
            <div class="narration-title-time-block">
              <div class="narration-time-grp">
                <span class="narration-time-info-icon">
                  <svg
                    fill="#b1a7a6"
                    width="22px"
                    height="22px"
                    viewBox="0 0 32 32"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />

                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M15 21.063v-15.063c0-0.563 0.438-1 1-1s1 0.438 1 1v15.063h-2zM15 23.031h2v1.875h-2v-1.875zM0 16c0-8.844 7.156-16 16-16s16 7.156 16 16-7.156 16-16 16-16-7.156-16-16zM30.031 16c0-7.719-6.313-14-14.031-14s-14 6.281-14 14 6.281 14 14 14 14.031-6.281 14.031-14z"
                      />
                    </g>
                  </svg>
                </span>
                <span class="display-flex">
                  <span>Narration Time = {{ totalTime | timeFormat }}</span>
                </span>
              </div>
              <div class="narration-available-time-block">
                <span class="narration-available-dur-time"
                  >Available Time = {{ availableTime | timeFormat }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="narration-breakup-section"
      [ngClass]="{ 'narration-breakup-section-open': isTableExpanded }"
    >
      <div class="narration-break-block-container">
        <div class="narration-break-table-section">
          <table class="narration-break-table">
            <thead>
              <tr class="narration-table-thead w-100">
                <th
                  class="narration-table-thead-th"
                  style="
                    padding-left: 0px;
                    width: 30px;
                    background: white;
                    border-right: 0;
                  "
                ></th>
                <th class="narration-table-thead-th">Title*</th>
                <th class="narration-table-thead-th w-35">Description*</th>
                <th class="narration-table-thead-th w-35">
                  <div class="narration-duration-time-th">
                    <div>Time*</div>
                    <div class="narration-duration-sum">
                      <span class="narration-break-sum-text">Sum</span>
                      <span class="narration-break-sum-value">{{
                        totalTime | timeFormat
                      }}</span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="narration-table-tbody-tr w-100 cursor-pointer"
                *ngFor="let row of rows; let i = index"
                (mouseenter)="row.isHovered = true"
                (mouseleave)="row.isHovered = false"
                [ngClass]="{ 'narration-active-row': selectedRows.includes(i) }"
              >
                <td class="narration-checkbox-block">
                  <div class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="checkbox{{ i }}"
                      (change)="onCheckboxChange($event, i)"
                      [checked]="selectedRows.includes(i)"
                    />
                    <label
                      for="checkbox{{ i }}"
                      class="custom-checkbox-label"
                    ></label>
                  </div>
                </td>
                <td (dblclick)="editField('title', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #titleInput
                        *ngIf="
                          editingField === 'title' && currentEditRow === row
                        "
                        [(ngModel)]="row.title"
                        (blur)="saveEdit()"
                        placeholder="Enter title"
                      />
                    </div>
                    <div
                      *ngIf="editingField !== 'title' || currentEditRow !== row"
                      class="title"
                    >
                      {{ row.title || "Double Click To Type Here" }}
                    </div>
                  </div>
                </td>
                <td class="w-35" (dblclick)="editField('description', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #descriptionInput
                        *ngIf="
                          editingField === 'description' &&
                          currentEditRow === row
                        "
                        [(ngModel)]="row.description"
                        (blur)="saveEdit()"
                        class="narration-input-title.description"
                        placeholder="Enter description"
                      />
                    </div>
                    <div
                      *ngIf="
                        editingField !== 'description' || currentEditRow !== row
                      "
                      class="description"
                    >
                      {{ row.description || "Double Click To Type Here" }}
                    </div>
                  </div>
                </td>
                <td class="w-35" (dblclick)="editField('time', row)">
                  <div class="content">
                    <div class="editor-content">
                      <input
                        #timeInput
                        *ngIf="
                          editingField === 'time' && currentEditRow === row
                        "
                        [(ngModel)]="row.time"
                        (blur)="validateTime(row)"
                        placeholder="HH:MM:SS"
                      />
                    </div>
                    <div class="narration-time-df">
                      <div
                        *ngIf="
                          editingField !== 'time' || currentEditRow !== row
                        "
                        class="duration"
                      >
                        {{ row.time || "hh:mm:ss" }}
                      </div>

                      <div
                        *ngIf="row.timeError"
                        class="error-message"
                        style="color: red; margin-right: 15px"
                      >
                        {{ row.timeError }}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="narration-table-tbody-tr w-100">
                <td class="narration-checkbox-block"></td>
                <td class="cursor-pointer" (click)="addNewRow()">
                  <div class="content">
                    <span class="display-flex">
                      <span class="display-flex">+</span>
                      <span>New</span>
                    </span>
                  </div>
                </td>
                <td class="w-35"></td>
                <td class="w-35"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="narration-activities-container">
          <table class="narration-break-table w-100">
            <thead>
              <tr class="narration-activity-header w-100">
                <th class="narration-activity-table-header-th w-30">
                  Top 10 Activities
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="activity-row w-100">
                <th class="narration-top-ten-activity w-30">
                  <div class="narration-veiw-button">
                    <button
                      *ngIf="!isShowingActivity"
                      class="narration-btn"
                      (click)="viewActivities()"
                    >
                      <span class="narration-btn-text">View Activities</span>
                    </button>
                  </div>
                </th>
              </tr>
              <tr *ngIf="isShowingActivity">
                <td>
                  <div
                    class="narration-activity-list"
                    style="margin-left: 10px"
                  >
                    <div class="narration-activity-item">
                      <div class="narration-activity-title">
                        Set Up Notification System
                      </div>
                      <div class="narration-activity-description">
                        Develop a notification system alerts
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="floating-button" *ngIf="selectedRows.length > 0">
    <button (click)="openModal()" class="narration-delete-button">
      <svg
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#ffffff"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0" />

        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        />

        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 6H21M5 6V20C5 21.1046 5.89543 22 7 22H17C18.1046 22 19 21.1046 19 20V6M8 6V4C8 2.89543 8.89543 2 10 2H14C15.1046 2 16 2.89543 16 4V6"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14 11V17"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 11V17"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-headings">
        Are you sure that you want to delete the selected Narration ?
      </div>
      <div class="modal-undone-heading">This cannot be undone !</div>
      <div class="modal-delete-icon">
        <div class="delete-icon-block">
          <svg
            width="100px"
            height="100px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="#d90429"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0" />

            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            />

            <g id="SVGRepo_iconCarrier">
              <path
                d="M13.995 1.827a1.745 1.745 0 0 0-2.969 0l-9.8 17.742a1.603 1.603 0 0 0 0 1.656 1.678 1.678 0 0 0 1.48.775H22.28a1.68 1.68 0 0 0 1.484-.775 1.608 1.608 0 0 0 .003-1.656zM12 8h1v7h-1zm.5 10.5a1 1 0 1 1 1-1 1.002 1.002 0 0 1-1 1z"
              />

              <path fill="none" d="M0 0h24v24H0z" />
            </g>
          </svg>
        </div>
      </div>
      <div class="modal-actions">
        <div class="modal-action-section">
          <div class="modal-actions-block">
            <button class="no-button" (click)="closeModal()">Cancel</button>
            <button class="yes-button" (click)="confirmDelete()">
              Yes, Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
